*{
	box-sizing: border-box;
	padding: 0;
}


body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #fcfcfc;

}

header {
	background-color: #07000000;
	padding: 20px;
	color: #fff;
}

h1 {
	margin: 0;
	font-size: 32px;
    text-align: center;
}

main {
	max-width: 2000px;
	margin: 0 auto;
	padding: 20px;
}

.info {
	
	background-color: #f1f1f1b4;
	border: 1px solid #000000;
	padding: 60px;
	width: 80%;
    margin: auto;
	
}

.img-dey{
	
	max-height: 60%;
	max-width: 80%;
	margin: 10.5%;
	
	
  }

  .img-cmp{
	
	max-height: 60%;
	max-width: 80%;
	margin: 10.5%;
  }

  .img-dudu{
	
	max-height: 60%;
	max-width: 80%;
	margin: 10.5%;
  }

h2 {
	margin: 0;
	font-size: 24px;
	color: #007a33;
    text-align: center;
   
}

p {
	margin-top: 0;
	font-size: 16px;
	line-height: 1.5;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
  }
  
  .cabecalho-imagem {
    height: 200px;
  }
  
  .cabecalho-menu {
    display: flex;
    gap: 30px;
  }
  
  .cabecalho-menu-item {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px
  }

 